body{
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Istok Web', sans-serif;
}

.background{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(./image\ 1.png);
width: 100%;
height: auto;
background-position: center;
background-size: cover;
}



.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 90%;
}


.nav-part1{
    display: flex;
    color: azure;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact div:nth-child(1) {
    display: flex;
    align-items: center;
}

#call-img{
    height: 32px;
}

.contact a{
    color: azure;
    font-weight: 700;
    text-decoration: none;
}

#mail-img{
    height: 33px;
    padding-left: 70px;
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
}

.email a{
    color: azure;
    font-weight: 700;
    text-decoration: none;
}

.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-part2 div {
    margin-right: 27px;
}

.nav-part2 div:nth-child(1){
    color: azure;
    font-weight: 700;
}

.nav-part2 img{
    height: 28px;
}

.main-container{

    justify-items: center;
    align-items: center;
  
    height: auto;
}

.main-head{
    padding-top: 70px;
    padding-left: 40px;
    font-size: 150px;
    color: #a9d96f;
    font-weight: 700;
    -webkit-text-stroke: 3px black;
}

.sub-head{
    color: azure;
    font-size: 30px;
    padding-left: 50px;
    line-height: 55px;
}

dl{
    margin-bottom: 0;
}
.bottom-bar dl{

    color: azure;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 700;
    margin-top: 21px;
}

.container{
    width: auto;
    margin: 22px;
    border-radius: 20px;
    display: flex;
    flex: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}

.car{
    background-color: #a9d96f;
    width: 244.5px;
    height: 225px;
    border-radius: 15px;
    margin: 18px;
    justify-content: center;
}

h1{
    color: azure;
    text-align: center;
}

a{
    text-decoration: none;
    color: azure;
}

a:hover{
    color: #a9d96f;

}

.car img{
    height: 60px;
    width: 110px;
    padding-top: 10px;
}


#carContainer{
    top: 0px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
}
#carContainer ul{
    text-align: center;
    margin-right: 30px;
}
#carContainer li{
    margin-top: 10px;
    list-style: none;
    font-weight: 700;
    font-size: small;
    
}

#carContainer div{
text-align: center;
font-weight: 700;
cursor: pointer;
}

.car.active {
    box-shadow: inset 0px 0px 5px 6px black;
    border: none;
    outline: none;
}


#car button {
    background-color: #a9d96f;
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px; /* Optional: Add border radius for a rounded look */
    cursor: pointer;
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold;
   
}

.container2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.65);
    padding: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
}

#book button {
    background-color: #a9d96f;
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px; /* Optional: Add border radius for a rounded look */
    cursor: pointer;
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold;
   
}

.car{
    cursor: pointer;
}

.car:hover{
    filter: contrast(115%);
}

#book button:hover{
    filter: brightness(120%);
}

#head{
    color:#a9d96f;
}

#head:hover{
    filter: brightness(120%);
}

@media only screen and (max-width: 700px){
    .navbar{
        font-size: x-small;
        margin: none;
        padding:0;
    }

    .navbar img{
        width: 27px;
    }

    .bottom-bar{
        font-size: small;
    }

    .nav-part2 div {
        margin-right: 10px;
    }

}

@media only screen and (max-width: 710px){
    .container{
        justify-content: center;
    }

}